{% extends "index.html" %}

{% block title %}  {% endblock title %}

{% block content %}

<div class="container" style="text-align:center">
    <a href={% url 'add movie' %}>Add movie</a>
    {% if movies %}
        <div class="container" style="text-align:center">
            <div class="row" style="margin:5px">
                {% for movie in movies %}
                    <div class="col-4" style="padding:5%">
                        <h1>{{movie.title}}</h1>
                        <a href={% url "movie details" movie.id %}>View details</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1>There are no movies yet</h1>
    {% endif %}
</div>


{% endblock content %}

