{% extends 'index.html' %}

{% block title %} profile {% endblock title %}

{% block content %}
    <h1>{{user.username}}</h1>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <hr>
    <h1>My movies</h1>

    {% if movies %}
        {% for movie in movies %}
            <h2>{{movie}}</h2>
        {% endfor %}
    {% else %}
        <h1>You don't have any movies yet</h1>
        <a href={% url 'add movie' %}>Add movie</a>
    {% endif %}
    <hr>

    <h1>My characters</h1>

    {% if characters %}
        {% for character in characters %}
            <h2>{{character}}</h2>
        {% endfor %}
    {% else %}
        <h1>You don't have any characters yet</h1>
        <a href={% url 'add character' %}>Add character</a>
    {% endif %}
{% endblock content %}

